# SO e arquivos do sistema
.DS_Store
Thumbs.db

# Diretórios comuns
**/build/
**/bin/
**/out/
**/.gradle/
volumes/
dist/
nbbuild/
nbdist/
.idea/
.vscode/
.terraform/
node_modules/
.apt_generated/
.settings/
.sts4-cache/
nbproject/private/

# Arquivos de lock e configs
.terraform.lock.hcl
kubeconfig
terraform.tfstate

# IntelliJ IDEA
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.factorypath
.springBeans

# VS Code
.vscode/

# Flyway ou pasta de código gerado (se tiver)
src/generated/**

# Permitir o wrapper do Gradle
!**/gradle/wrapper/gradle-wrapper.jar

# Arquivo de ajuda local
HELP.md
